Repository nuxt-modules/i18n, pull requests merged in 2024-07, with the labels that each got.

#3014 fix: v-t directive SSR fully
  specs/basic_usage.spec.ts
  specs/fixtures/basic_usage/config/i18n.config.ts
  specs/fixtures/basic_usage/pages/index.vue
  src/bundler.ts
Labels: v9

#3036 docs: `customRoutes` clarification
  docs/content/docs/2.guide/3.custom-paths.md
  docs/content/docs/5.v9/2.guide/3.custom-paths.md
Labels: docs

#3037 docs: update logo
  docs/components/TheLogo.vue
  docs/public/android-chrome-192x192.png
  docs/public/android-chrome-512x512.png
  docs/public/apple-touch-icon.png
  docs/public/favicon-16x16.png
  docs/public/favicon-32x32.png
  docs/public/favicon.ico
  docs/public/icon.png
  docs/public/icon.svg
  docs/public/logo-dark-v7.svg
  docs/public/logo-light-v7.svg
  docs/public/preview-dark.png
  docs/public/preview.png
Labels: docs

#3040 test: update and sync test dependencies
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  specs/helper.ts
  specs/routing_strategies/no_prefix.spec.ts
  specs/routing_strategies/prefix.spec.ts
  specs/routing_strategies/prefix_and_default.spec.ts
  specs/routing_strategies/prefix_except_default.spec.ts
  specs/utils/browser.ts
  specs/utils/nuxt.ts
  specs/utils/run.ts
  specs/utils/types.ts
  vitest.config.ts
Labels: 🧹 p1-chore, test
